@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* my dark styling */
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
}

.card {
    height: 600px;
    width: 300px;
    border: green solid 1px;
    background-image: url(cards/10C.jpg);
    background-size: cover;
    background-position: center center;
}
